<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eclinic"
        tools:targetApi="31">

        <activity
            android:name=".patientClasses.VisitTypeActivity"
            android:exported="false"/>
        <activity
            android:name=".patientClasses.RegisterForAppointmentPatient"
            android:exported="false"/>
        <activity
            android:name=".calendar.WeeklyViewActivity"
            android:exported="false" />
        <activity
            android:name=".calendar.MainCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".doctorClasses.ProfileDocActivity"
            android:exported="false" />
        <activity
            android:name=".doctorClasses.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".doctorClasses.ConfirmVisitsActivity"
            android:exported="false" />
        <activity
            android:name=".doctorClasses.ChatDocActivity"
            android:exported="false" />
        <activity
            android:name=".patientClasses.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".patientClasses.AppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatPatientActivity"
            android:exported="false" />
        <activity
            android:name=".patientClasses.PrescriptionsActivity"
            android:exported="false" />
        <activity
            android:name=".patientClasses.EditProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".doctorClasses.MainPageDoctor"
            android:exported="false" />
        <activity
            android:name=".patientClasses.MainPagePatient"
            android:exported="false" />
        <activity
            android:name=".logRegClasses.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".logRegClasses.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".logRegClasses.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".logRegClasses.LogRegActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>